/* allgemein start */

/* allgemein ende */

/* navbar start */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
    text-decoration: none;
    color: white;
  }
  
  .active {
    background-color: rgb(76, 119, 175);
    text-decoration: none;
    color: white;
  }
/* navbar ende */

/* buttons start */

button {
  background-color: red;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;

}

.button1 {
  background-color:  rgb(53, 54, 53); 
  color: lightgrey; 
  border: 2px solid rgb(53, 54, 53);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  width: 25%; 
}

.button1:hover {
  background-color: white;
  color: grey;
}

.button2 {
    background-color:  rgb(28, 106, 179); 
    color: black; 
    border: 2px solid rgb(28, 106, 179);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 25%;  
}
  
  .button2:hover {
    background-color: white;
    color: black;
  }


/* buttons ende */
